<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- loading properties from properties file -->
	<context:property-placeholder location="classpath:sport.properties"/> 
	
    <!-- Define your beans here -->
    
    	<bean id = "myFortune"
    		class = "com.luv2code.injecting_from_properties_file.HappyFortuneService">
    	</bean>
    
	     <bean id = "myCricketCoach"
	    	class = "com.luv2code.injecting_from_properties_file.CricketCoach">
	    	<property name = "fortuneService" ref="myFortune"/>  <!-- ** -->
	    	 
	    	 <!-- **configuring new properties -->
	    	 <property name = "emailAddress" value="${foo.emailAddress}"/>
	    	 <property name = "team" value="${foo.team}"/>
	    	
	    </bean>
</beans>





